- name: Prueba agrupando eco de recursos
  set_fact:
    vmsource: |
      {% if 'small' in vmsources %}
      1,1024,56320
      {% elif 'medium' in vmsources %}
      1,2048,56320
      {% elif 'large' in vmsources %}
      2,2048,56320
      {% elif 'xlarge' in vmsources %}
      2,3072,56320
      {% endif %}

- name: Prueba de varibles 1
  debug:
    msg: 
      - "{{ idcrqinc }}"
      - "{{ vmname }}"
      - "{{ vmostype }}"
      - "{{ vmsource | trim }}"

- name: Prueba agrupando eco tipo de ambiente
  set_fact:
    vmenv: |
      {% if 'vp' in vmname %}
      produccion
      {% elif 'vd' in vmname %}
      desarrollo
      {% elif 'vo' in vmname %}
      liga oculta
      {% endif %}

- name: Prueba agrupando eco de recursos
  set_fact:
    vmcpu: "{{ vmsource.split(',')[0] | trim }}"
    vmmem: "{{ vmsource.split(',')[1] | trim }}"
    vmdsk: "{{ vmsource.split(',')[2] | trim }}"

- name: Prueba de varibles 2
  debug:
    msg: 
      - "{{ vmcpu | trim }}"
      - "{{ vmmem | trim }}"
      - "{{ vmdsk | trim }}"
      - "{{ vmenv | trim }}"