- name: Prueba agrupando ecos
  set_fact:
    vbvmgst_source: |
      {% if vbvmgst_sources in small %}
      1,1
      {% elif vbvmgst_sources in medium %}
      1,2
      {% elif vbvmgst_sources in large %}
      2,2
      {% elif vbvmgst_sources in xlarge %}
      2,3
      {% endif %}

- name: Prueba de varibles
  debug:
    msg: 
      - "{{ idcrqinc }}"
      - "{{ vbvmgst_name }}"
      - "{{ vbvmgst_ostype }}"
      - "{{ vbvmgst_source }}"