- name: Prueba agrupando ecos
  set_fact:
    vbvmgst_source: |
      {% if tarea in 'small' %}
      1,1
      {% elif tarea in 'medium' %}
      1,2
      {% elif tarea in 'large' %}
      2,2
      {% elif tarea in 'xlarge' %}
      2,3
      {% endif %}

- name: Prueba de varibles
  debug:
    msg: 
      - "{{ idcrqinc }}"
      - "{{ vbvmgst_name }}"
      - "{{ vbvmgst_ostype }}"
      - "{{ vbvmgst_source }}"