- name: Prueba agrupando ecos
  set_fact:
    vbvmgst_source: |
      {% if 'small' in vbvmgst_sources %}
      1,1
      {% elif 'medium' in vbvmgst_sources %}
      1,2
      {% elif 'large' in vbvmgst_sources %}
      2,2
      {% elif 'xlarge' in vbvmgst_sources %}
      2,3
      {% endif %}

- name: Prueba de varibles
  debug:
    msg: 
      - "{{ idcrqinc }}"
      - "{{ vbvmgst_name }}"
      - "{{ vbvmgst_ostype }}"
      - "{{ vbvmgst_source | trim }}"