---
- block:
    - set_fact:
        run_playbook: |
          {% if vmnet == 'Tarjeta' %}
          ['mensajes/final/setup1vm/vboxvm']
          {% else %}
          ['mensajes/final/setup2vm/vboxvm']
          {% endif %}

- name: Inicia tareas {{ run_playbook }}
  include_tasks: "{{ tareas_b }}.yml"
  loop: "{{ run_playbook }}"
  loop_control:
    loop_var: tareas_b
