- name: Recursos VM {{ vmostype }} - {{ vmname }} en VirtuaBox
  set_fact:
    vmsource: |
      {% if 'small' in vmsources %}
      1,1,55
      {% elif 'medium' in vmsources %}
      1,2,55
      {% elif 'large' in vmsources %}
      2,2,55
      {% elif 'xlarge' in vmsources %}
      2,3,55
      {% endif %}

- name: Ambiente VM {{ vmostype }} - {{ vmname }} en VirtuaBox
  set_fact:
    vmenv: |
      {% if 'vp' in vmname %}
      produccion
      {% elif 'vd' in vmname %}
      desarrollo
      {% elif 'vlo' in vmname %}
      liga oculta
      {% endif %}
    vmtier: |
      {% if 'vp' in vmname %}
      pr
      {% elif 'vd' in vmname %}
      ep
      {% elif 'vlo' in vmname %}
      lo
      {% endif %}

- set_fact:
    vmcpu: "{{ vmsource.split(',')[0] | trim }}"
    vmmem: "{{ vmsource.split(',')[1] | int * 1024 }}"
    vmdsk: "{{ vmsource.split(',')[2] | int * 1024 }}"
    vmnet: "{{ vmnets.split('_')[0] }}"