- block:
    - set_fact:
        run_playbook: |
          {% if vmnet == 'Tarjeta' %}
          ['validar/red/vboxvm']
          {% else %}
          ['validar/redes/vboxvm']
          {% endif %}

- name: Inicia tareas {{ run_playbook }}
  include_tasks: "{{ tareas_a }}.yml"
  loop: "{{ run_playbook }}"
  loop_control:
    loop_var: tareas_a
