---
- block:
    - name: Asignar Red VM {{ vmostype }} - {{ vmname }} en VirtuaBox.
      shell: |
          {% if 'Tarjeta_puente_internet' in vmnets %}
            VBoxManage modifyvm {{ vmname }} --nic1 bridged --bridgeadapter1 enp0s31f6
          {% elif 'Tarjeta_aislada_sin_internete' in vmnets %}
            VBoxManage modifyvm {{ vmname }} --nic1 hostonly --hostonlyadapter1 vboxnet0
          {% elif 'Tarjeta_nat_internet_aislada' in vmnets %}
            VBoxManage modifyvm {{ vmname }} --nic1 natnetwork --natnetwork1 vboxnat0
          {% elif 'Tarjetas_puente_aislada' in vmnets %}
            VBoxManage modifyvm {{ vmname }} --nic1 bridged --bridgeadapter1 enp0s31f6
            sleep 3
            VBoxManage modifyvm {{ vmname }} --nic2 hostonly --hostonlyadapter2 vboxnet0
          {% elif 'Tarjetas_aislada_puente' in vmnets %}
            VBoxManage modifyvm {{ vmname }} --nic1 hostonly --hostonlyadapter1 vboxnet0
            sleep 3
            VBoxManage modifyvm {{ vmname }} --nic2 bridged --bridgeadapter2 enp0s31f6
          {% elif 'Tarjetas_nat_aislada' in vmnets %}
            VBoxManage modifyvm {{ vmname }} --nic1 natnetwork --natnetwork1 vboxnat0
            sleep 3
            VBoxManage modifyvm {{ vmname }} --nic2 hostonly --hostonlyadapter1 vboxnet0
          {% elif 'Tarjetas_aislada_nat' in vmnets %}
            VBoxManage modifyvm {{ vmname }} --nic1 hostonly --hostonlyadapter2 vboxnet0
            sleep 3
            VBoxManage modifyvm {{ vmname }} --nic2 natnetwork --natnetwork1 vboxnat0
          {% elif 'Tarjetas_aislada_aislada' in vmnets %}
            VBoxManage modifyvm {{ vmname }} --nic1 hostonly --hostonlyadapter1 vboxnet1
            sleep 3
            VBoxManage modifyvm {{ vmname }} --nic2 hostonly --hostonlyadapter2 vboxnet2
          {% endif %}
      register: vmoutputnetadd
