---
- name: Tareas por bloques - Ontener ID de Inventario por REST API Ansible AWX
  block:
    - name: Obtener inventario
      uri:
        url: "{{ tower_base_url }}/api/v2/organizations/{{ tower_organization }}/inventories/"
        validate_certs: false
        force_basic_auth: yes
        method: GET
        headers:
          Authorization: "Bearer {{ tower_token }}"
        status_code: 200
      register: inventory_response
    - set_fact:
        inventory_id: "{{ (inventory_response.json.results | selectattr('name', 'equalto', tower_inventory) | first).id }}"
  delegate_to: localhost

- name: Tareas por bloques - Agregar Linux-Windows HostNode por REST API Ansible AWX
  block:
    - name: Agregar nuevo equipo Linux al inventario
      uri:
        url: "{{ tower_base_url }}/api/v2/inventories/{{ inventory_id }}/hosts/"
        validate_certs: false
        force_basic_auth: yes
        status_code: 200, 201, 204, 400
        method: POST
        headers:
          Authorization: "Bearer {{ tower_token }}"
        body_format: json
        body:
          name: "{{ vmname }}.bvm.bluecare.kyndryl.net"
          enabled: true
          variables: '{ "ipaddress": {{ vmnipnet.stdout_lines[0] }},
            "ansible_host": {{ vmnipnet.stdout_lines[0] }},
            "ostype": {{ vmostype }},
            "devicetype": computer,
            "tier": {{ vmtier | trim }},
            "entorno": {{ vmenv | trim }},
            "ansible_python_interpreter": "{{ vmvpython }}"
            }'
      register: add_host_response
      when: "vmostype == 'RedHat'"

    - name: Agregar nuevo equipo Windows al inventario
      uri:
        url: "{{ tower_base_url }}/api/v2/inventories/{{ inventory_id }}/hosts/"
        validate_certs: false
        force_basic_auth: yes
        status_code: 200, 201, 204, 400
        method: POST
        headers:
          Authorization: "Bearer {{ tower_token }}"
        body_format: json
        body:
          name: "{{ vbvmgst_name }}.bvm.bluecare.kyndryl.net"
          enabled: true
          variables: '{ "ipaddress": {{ vmnipnet.stdout_lines[0] }},
            "ansible_host": {{ vmnipnet.stdout_lines[0] }},
            "ostype": {{ vmostype }},
            "devicetype": computer,
            "tier": {{ vmtier | trim }},
            "entorno": {{ vmenv | trim }},
            "ansible_connection": "psrp",
            "ansible_winrm_server_cert_validation": "ignore",
            "ansible_port": 5985
            }'
      register: add_host_response
      when: "vmostype == 'Windows'"
  delegate_to: localhost
